<% form_view = AdminAssistant::FormView.new(@record, @admin_assistant, self) %>
<div id="admin_assistant" class="form <%=
  @admin_assistant.controller_css_class(controller)
%>">
  <% id = nil unless defined?(id) %>
  <div id="aa_header">
    <h2><%= form_view.header %></h2>
    <div id="aa_actions">
    <%= link_to('Back to index', {:action => 'index'}.merge(remebered_get_params_without)) %>
    </div>
  </div>
  <% if @record.errors.any? %>
    <%= error_messages_for :record %>
  <% end %>

  <%= form_for(:record, form_view.form_for_args) do |rails_form| %>
    <%= remembered_hidden_fields_without %>

    <% form_view.columns.each do |column| %>
      <div class="column <%= "aa_form_#{column.name}" -%>">
        <label><%= h(column.label) %></label>
        <div class="form_input"><%= form_view.column_html(column, rails_form) %></div>
      </div>
    <% end %>
    
    <div class="column">
      <%= submit_tag form_view.submit_value, :class => "submit" %>
      <%= form_view.extra_submit_buttons.each do |extra_submit_button| %>
        <%= submit_tag extra_submit_button, :class => "submit" %>
      <% end %>
    </div>
    <%= hidden_field_tag :redirect_url, params[:redirect_url] %>
  <% end %>
  
</div>

<% if form_view.hide && columns_to_hide = form_view.hide.call(params, @record, current_user) %>
  <script type="text/javascript">
    <% columns_to_hide.each do |col| %>
      $$('.column.aa_form_<%= col.to_s -%>').each(function(elem) { elem.hide(); });
    <% end %>
  </script>
<% end %>